@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Nanum+Gothic&family=Open+Sans&family=Oswald&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&family=Roboto&family=Silkscreen&family=Teko&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Teko', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.body {
  height: 100%;
  width: 100%;
  background-color: rgb(176, 176, 255);
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  background-color: rgb(239, 249, 255);
}

.game {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  padding-bottom: 4vw;
  background-color: rgb(239, 249, 255);
}
h1 {
  margin-bottom: 3vw;
  margin-top: 2vw;
}
.gameplay {
  height: 62vw;
  max-height: 620px;
  margin-left: -2vw;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.btns {
  padding-top: 4vw;
  padding-bottom: 2vw;
}
.top {
  border: solid 1px black;
  padding: min(1vw, 5px);
  background-color: black;
  color: white;
  font-size: min(20px, 3vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.symbol {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: min(1vw, 5px);
  font-size: min(10vw, 120px);
}

.grid {
  margin: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 50vw;
  width: 50vw;
  max-height: 500px;
  max-width: 500px;
  gap: min(4px, 0.5vw);
  background-color: black;
  cursor: pointer;
}

.gridel {
  background-color: rgb(239, 249, 255);
  font-size: min(10vw, 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridel:hover {
  background-color: rgb(147, 255, 147);
}
#icon:hover {
  display: contents;
}

.hidden {
  display: none;
}

.used {
  cursor: not-allowed;
  pointer-events: none;
}

.disable:hover {
  background-color: rgb(255, 156, 156);
}
i {
  font-size: min(100px, 8vw);
}

.score {
  font-size: min(5vw, 40px);
  padding-top: 2vw;
}

h2 {
  margin-top: 1vw;
  font-size: min(3vw, 30px);
}

@media (width < 1010px) {
  .main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
